extends layout

block content
  h1= title
  
  hr
  ul
  each exercise in exercise_list
    li #[strong Name:] !{exercise.name}
    li #[strong Description:] !{exercise.description}
    li #[strong Sets:] !{exercise.sets}
    li #[strong Repetitions/Time:] !{exercise.reps}

    hr
  else
    li There are no exercises.
