extends layout


block content
  h1= title


  form(action='' method="POST")
    label(for="name") Enter name: 
    br
    input(id="name", type="text", name="name", placeholder="Name of exercise")
    br
    br
    label(for="description") Enter description: 
    br
    input(id="description", type="text", name="description", placeholder="Description of exercise")
    br
    br
    label(for="sets") Enter sets: 
    br
    input(id="sets", type="number", name="sets", placeholder="Number of sets")
    br
    br
    label(for="reps") Enter reps (as number or seconds): 
    br
    input(id="reps", type="text", name="reps", placeholder="Reps of exercise")
    br
    br
    br
    input(type="submit" value="Save")

    br 
    br
    br
    a(href='/') Home