extends layout

block content
  h1 #{title}: #{workoutplan.name}

  a(href=workoutplan.url + "/update") Update
  
  br
  br
  h4 Exercises
  hr
  ul
  each exercise in workoutplan.exercises
    li #[strong Name:] !{exercise.name}
    li #[strong Description:] !{exercise.description}
    li #[strong Sets:] !{exercise.sets}
    li #[strong Repetitions/Time:] !{exercise.reps}

    hr

  else
    li There are no exercises in this workoutplan.