extends layout



block content
  h1= title

  form(action='' method="POST")
    label(for="name") Enter name: 
    br
    input(id="name", type="text", name="name", placeholder="Name of WorkoutPlan", value=(undefined===workoutplan ? '' : workoutplan.name))
    br
    br
    label(for="exercises") Select exercises: 
    br
    div
        for exercise in exercises
            div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='exercises', id=exercise._id, value=exercise._id, checked=exercise.checked )
            label(for=exercise._id) #{exercise.name}
    br
    br
    input(type="submit" value="Save")


  a(href='/') Back